{% extends "joc/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/estil_grup.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/estil_pronostic.css" %}">
{% endblock stylesheets %}
{% block scripts %}
<script type="text/javascript" src="https://underscorejs.org/underscore-min.js"></script>
{% endblock scripts %}

{% block title %}Consulta el pronòstic dels grups{% endblock %}

{% block navegacio %}
&nbsp;&nbsp;&gt;&nbsp;&nbsp;
<a href="{% url 'joc:consulta' %}">Pronòstic</a>
&nbsp;&nbsp;&gt;&nbsp;&nbsp;
<a href="{% url 'joc:consulta_grups' %}">Grups</a>
{% endblock navegacio %}

{% block content %}
{% for nom, grup in grups.items %}
<div class="taula_classi">
<table width="450">
<tr><td colspan="5" class="nomgrup">Grup {{ nom }}</td></tr>
<tr>
<td class="negreta_bandera">Bandera</td>
<td class="negreta">Selecció</td>
<td class="negreta">Punts</td>
<td class="negreta">Diferència</td>
<td class="negreta">Gols</td>
</tr>

{% for equip_classificacio in grup %}
<tr>
<td class="class_bandera"><img name="ban{{ forloop.counter0 }}" src="{% with 'banderes/'|add:equip_classificacio.equip.bandera as bandera %}{% static bandera %}{% endwith %}" height="{{ height_banderes }}" width="{{ width_banderes }}" border="{{ border_banderes }}"></td>
<td class="classif"><input type="text" size="20" name="c{{ forloop.counter0 }}" onFocus="this.blur()" value="{{ equip_classificacio.equip.nom }}"></td>
<td align="center" class="classif"><input type="text" size="2" name="p{{ forloop.counter0 }}" onFocus="this.blur()" value="{{ equip_classificacio.punts }}"></td>
<td align="center" class="classif"><input type="text" size="2" name="d{{ forloop.counter0 }}" onFocus="this.blur()" value="{{ equip_classificacio.diferencia }}"></td>
<td align="center" class="classif"><input type="text" size="2" name="g{{ forloop.counter0 }}" onFocus="this.blur()" value="{{ equip_classificacio.favor }}"></td>
<input type="hidden" name="id{{ forloop.counter0 }}" value="{{ equip_classificacio.id }}">
</tr>
{% endfor %}
</table>
</div>
{% endfor %}
{% endblock %}
