{% extends "joc/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/estil_grup.css" %}">
{% if not equips_classificacio %}
<link rel="stylesheet" type="text/css" href="{% static "css/estil_eliminatoria.css" %}">
{% endif %}
{% endblock stylesheets %}
{% block scripts %}
<script src="{% static "js/funcions.js" %}"></script>
<script type="text/javascript" src="https://underscorejs.org/underscore-min.js"></script>
{% endblock scripts %}

{% block title %}Entrada dels resultats - {{ text_grup}}{% endblock %}

{% block navegacio %}
&nbsp;&nbsp;&gt;&nbsp;&nbsp;
<a href="{% url 'joc:pronostic' %}">Entrada de Resultats</a>
&nbsp;&nbsp;&gt;&nbsp;&nbsp;
<a href="{% url 'joc:pronostic' %}?grup={{ grup }}">{{ text_grup }}</a>
{% endblock navegacio %}

{% block content %}

<form id="f1" name="f1" action="{% url 'joc:pronostic' %}?grup={{ seguent_grup }}" method="post">
{% csrf_token %}
<input type="hidden" name="num-partits" value="{{ formset|length }}">
<div id="resultats">
{{ formset.management_form }}
{% for form in formset %}
{{ form.id }}
{% if forloop.counter0 < 2 %}
<input type="hidden" name="nom-equip-{{ form.instance.equip1.id }}" value="{{ form.instance.equip1.nom }}">
<input type="hidden" name="nom-equip-{{ form.instance.equip2.id }}" value="{{ form.instance.equip2.nom }}">
<input type="hidden" name="bandera-equip-{{ form.instance.equip1.id }}" value="{% with 'banderes/'|add:form.instance.equip1.bandera as bandera1 %}{% static bandera1 %}{% endwith %}">
<input type="hidden" name="bandera-equip-{{ form.instance.equip2.id }}" value="{% with 'banderes/'|add:form.instance.equip2.bandera as bandera2 %}{% static bandera2 %}{% endwith %}">
{% endif %}
{% if forloop.counter0|divisibleby:2 %}
<div class="partits_linia">
<div class="partit1">
{% else %}
<div class="partit2">
{% endif %}
{% if equips_classificacio %}
{% include "joc/partit.html" %}
{% else %}
{% include "joc/partit_eliminatoria.html" %}
{% endif %}
</div>
{% if not forloop.counter0|divisibleby:2 %}
</div>
{% endif %}
{% endfor %}
</div>

<div id="classificacio">
{% if equips_classificacio %}
{% include "joc/grup_classificacio.html" %}
<div class="boto_next_classificacio">
{% else %}
<div class="boto_next">
{% endif %}
<input name="seguent" type="submit" class="boto_index" value="Següent grup" {% if deshabilita_submit %}disabled{% endif %}>
</div>
</div>
</form>

{% endblock %}

