{% load staticfiles %}
<div class="taula_classi">
<table width="450">
<tr><td colspan="5" class="dia">CLASSIFICACIÓ PROVISIONAL:</td></tr>
<tr>
<td class="negreta_bandera">Bandera</td>
<td class="negreta">Selecció</td>
<td class="negreta">Punts</td>
<td class="negreta">Diferència</td>
<td class="negreta">Gols</td>
</tr>

{% for equip_classificacio in equips_classificacio%}
<tr>
<td class="class_bandera"><img name="ban{{ forloop.counter0 }}" src="{% with 'banderes/'|add:equip_classificacio.equip.bandera as bandera %}{% static bandera %}{% endwith %}" height="{{ height_banderes }}" width="{{ width_banderes }}" border="{{ border_banderes }}"></td>
<td class="classif"><input type="text" size="20" name="c{{ forloop.counter0 }}" onFocus="this.blur()" value="{{ equip_classificacio.equip.nom }}"></td>
<td align="center" class="classif"><input type="text" size="2" name="p{{ forloop.counter0 }}" onFocus="this.blur()" value="{{ equip_classificacio.punts }}"></td>
<td align="center" class="classif"><input type="text" size="2" name="d{{ forloop.counter0 }}" onFocus="this.blur()" value="{{ equip_classificacio.diferencia }}"></td>
<td align="center" class="classif"><input type="text" size="2" name="g{{ forloop.counter0 }}" onFocus="this.blur()" value="{{ equip_classificacio.favor }}"></td>
</tr>
{% endfor %}
</table>
{% for equip_classificacio in equips_classificacio%}
<input type="hidden" name="id{{ forloop.counter0 }}" value="{{ equip_classificacio.equip.id }}">
{% endfor %}
</div>
