{% extends "joc/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/estil_usuaris.css" %}">
{% endblock stylesheets %}
{% block scripts %}
<script src="{% static "js/funcions.js" %}"></script>
<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
{% endblock scripts %}

{% block title %}Puntuacions{% endblock %}

{% block navegacio %}
&nbsp;&nbsp;&gt;&nbsp;&nbsp;
<a href="{% url 'joc:puntuacions' %}">Puntuacions</a>
{% endblock navegacio %}

{% block content %}
<div class="requadre">
<h1>Puntuacions</h1>
<p>Aquesta pàgina explica com es calculen els punts.</p>
<div class="tot">
<h2>Fase prèvia</h2>
</div>
<div class="esquerra">
<h4>Partits</h4>
<ul>
    <li>Signe: 3 punts</li>
    <li>Resultat: 4 punts</li>
</ul>
</div>
<div class="dreta">
<h4>Classificació grups</h4>
<p>Per cada grup:</p>
<table class="tauleta">
    <tr>
        <td><b>Equips en posició correcta</b></td>
        <td><b>Punts</b></td>
    </tr>
    <tr>
        <td>1</td><td>2</td>
    </tr>
    <tr>
        <td>2</td><td>4</td>
    </tr>
    <tr>
        <td>4</td><td>10</td>
    </tr>
</table>
</div>
<div class="tot">
<h2>Vuitens de final</h2>
</div>
<div class="esquerra">
<h4>Equips classificats</h4>
<table class="tauleta">
    <tr>
        <td><b>Número d'equips encertats</b></td>
        <td><b>Punts</b></td>
    </tr>
    <tr><td>1</td><td>1</td></tr>
    <tr><td>2</td><td>2</td></tr>
    <tr><td>3</td><td>3</td></tr>
    <tr><td>4</td><td>4</td></tr>
    <tr><td>5</td><td>5</td></tr>
    <tr><td>6</td><td>6</td></tr>
    <tr><td>7</td><td>8</td></tr>
    <tr><td>8</td><td>11</td></tr>
    <tr><td>9</td><td>15</td></tr>
    <tr><td>10</td><td>20</td></tr>
    <tr><td>11</td><td>26</td></tr>
    <tr><td>12</td><td>33</td></tr>
    <tr><td>13</td><td>41</td></tr>
    <tr><td>14</td><td>50</td></tr>
    <tr><td>15</td><td>60</td></tr>
    <tr><td>16</td><td>75</td></tr>
</table>
</div>
<div class="dreta">
<h4>Partits</h4>
<ul>
    <li>Signe: 5 punts</li>
    <li>Resultat: 7 punts</li>
    <li><b>Nota:</b> Per puntuar per signe o resultat cal encertar els 2 equips del partit en la posició correcta</li>
</ul>
</div>
<div class="tot">
<h2>Quarts de final</h2>
</div>
<div class="esquerra">
<h4>Equips classificats</h4>
<table class="tauleta">
    <tr>
        <td><b>Número d'equips encertats</b></td>
        <td><b>Punts</b></td>
    </tr>
    <tr><td>1</td><td>3</td></tr>
    <tr><td>2</td><td>6</td></tr>
    <tr><td>3</td><td>10</td></tr>
    <tr><td>4</td><td>17</td></tr>
    <tr><td>5</td><td>27</td></tr>
    <tr><td>6</td><td>40</td></tr>
    <tr><td>7</td><td>55</td></tr>
    <tr><td>8</td><td>75</td></tr>
</table>
</div>
<div class="dreta">
<h4>Partits</h4>
<ul>
    <li>Equip en posició correcta: 5 punts</li>
    <li>Signe: 7 punts</li>
    <li>Resultat: 10 punts</li>
    <li><b>Nota:</b> Per puntuar per signe o resultat cal encertar els 2 equips del partit en la posició correcta</li>
</ul>
</div>
<div class="tot">
<h2>Semifinals</h2>
</div>
<div class="esquerra">
<h4>Equips classificats</h4>
<table class="tauleta">
    <tr>
        <td><b>Número d'equips encertats</b></td>
        <td><b>Punts</b></td>
    </tr>
    <tr><td>1</td><td>8</td></tr>
    <tr><td>2</td><td>20</td></tr>
    <tr><td>3</td><td>40</td></tr>
    <tr><td>4</td><td>75</td></tr>
</table>
</div>
<div class="dreta">
<h4>Partits</h4>
<ul>
    <li>Equip en posició correcta: 10 punts</li>
    <li>Signe: 10 punts</li>
    <li>Resultat: 14 punts</li>
    <li><b>Nota:</b> Per puntuar per signe o resultat cal encertar els 2 equips del partit en la posició correcta</li>
</ul>
</div>
<div class="tot">
<h2>Final</h2>
</div>
<div class="esquerra">
<h4>Equips classificats</h4>
<table class="tauleta">
    <tr>
        <td><b>Número d'equips encertats</b></td>
        <td><b>Punts</b></td>
    </tr>
    <tr><td>1</td><td>30</td></tr>
    <tr><td>2</td><td>75</td></tr>
</table>
</div>
<div class="dreta">
<h4>Partit</h4>
<ul>
    <li>Equip en posició correcta: 10 punts</li>
    <li>Signe: 14 punts</li>
    <li>Resultat: 20 punts</li>
    <li><b>Nota:</b> Per puntuar per signe o resultat cal encertar els 2 equips del partit en la posició correcta</li>
</ul>
</div>
<div class="tot">
<h2>Quadre final</h2>
</div>
<table class="tauleta">
    <tr>
        <td><b>Posició</b></td>
        <td><b>Punts</b></td>
    </tr>
    <tr><td>Primer</td><td>50</td></tr>
    <tr><td>Segon</td><td>25</td></tr>
</table>
<div class="tot">
<h2>Notes</h2>
<ul>
    <li>Els signe dels partits de les fases eliminatòries serà el del final dels 90 minuts.</li>
</ul>
</div>
</div>
{% endblock %}
